<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="item-page.css">

    <title><%=name%></title>
</head>
<body>
    <section id="container" class="">
  
        <div id="product-img">
          <!-- <img src="https://www.dropbox.com/s/bltmadn0qkdftz9/Nike.svg?raw=1" alt="Nike" title="Nike" class="nike-logo"/> -->
          
          <img style="margin-left: 0px;" src="<%=image%>" alt=<%=name%> title=<%=name%> class="shoe fade-in one"/>
          
        </div>
        
        <div id="product-info" class="clearfix-auto">
          <div id="product-spec" class="wrapper">
            <h1><%=name%></h1>
            <!-- <h2>Mint Green</h2> -->
            <h3 class="sale">LOST!</h3>
          </div>
          
          
          
          <h4 class="clearfix">Description</h4>
          <p><%=description%></p>
          
          <div id="product-options" class="clearfix-auto">
              <div id="color" class="wrapper">
                 <h4 class="">Founder's Details</h4>
                 <p>Phone number 9999999999</p>
              </div>
      
              <div id="size" class="wrapper">
                <h4>Location </h4>
                <p>location it was lost</p>
                <span class=""></span>
              </div>
      
              <div id="size" class="wrapper">
                 <h4>Points!</h4>
                 <!-- <span class="arr"></span> -->
                 <p>Points associated with the item</p>
              </div>
          </div>
          <a href="#" title="Add to cart" class="button clearfix-auto">
            <img src='https://i.pinimg.com/originals/8f/c3/7b/8fc37b74b608a622588fbaa361485f32.png' class="shopping-cart"/>
            Contact Founder</a>
          
          <a href="#">
            <img src='https://www.dropbox.com/s/9ojob3v6oae6rp5/sharing-interface.svg?raw=1' class="share" alt="Share this"/>
          </a>
        </div>
      
      </section>
</body>
</html>