<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="searchResult.css">
    <title>Document</title>
</head>
<body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <!-- Thumbs -->
    We found <p id="numberOfResults"><%= data.length %></p> results!
    <ul class="posts-box">
        <% data.forEach(function(item){ %>
            <li>
                <div class="card">
                        <img id="<%=item.item_id%>_image" src="<%=item.item_image %>" />
                        
                    <div>
                        <h3 id="<%=item.item_id%>_name"><%=item.item_name %></h3>
                        <p> description hidden for authenticated users</p>
                        <!-- <p id="<%=item.item_id%>_description"><%= item.item_description %></p> -->
                    </div>
                    <div>
                        <a class="button" onClick="triggerModel(this.id)" id="<%=item.item_id%>"> Click here if you have lost this item</a>
                    </div>
            </div>
        </li>
            <% }) %>
      <!-- JSON Here!
    </ul>
  
    <!-- Modal -->
    <script>
    function triggerModel(id){
      alert(id);
            var description = prompt("Please Describe The item you lost","");
            
            if(description=="" || description==null){
              
            }
            else{
              window.location.href = "/descriptionValu?query="+description +"&id="+id;
            }
            //  var query = document.getElementById("input").value;
            
            // console.log(query);
            // window.location.href = "/searchData?query="+query;
    }       
      </script>

  </body>
  
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</html>