<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="searchResult.css">
    <title>Document</title>
</head>
<body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <!-- Thumbs -->
    <div style="background-color: aliceblue;">

    <header style="padding: bottom 20px;">
      <div class="inner">
        <div class="logo"><img src="lostnfound.png"></div>
        <div class="burger"></div>
        <nav>
          <a class="active" href="/">Report Oject</a>
          <!-- <a href="#">About Us</a> -->
          <a href="/search">Find Object</a>
          
          <!-- <a href="#">Get Involved</a> -->
        </nav>
        <a href="#" class="donate-link">Donation Policy</a>
      </div>
    </header>
  </div>

    <div class="card text-center" style="margin: top 30px; top:40px">
      <div class="card-header">
        Hollla!
      </div>
      <div class="card-body">
        <h5 class="card-title">For your search <%=searchQuery%></h5>
        <p class="card-text">    We found <p id="numberOfResults"><%= data.length %></p> results!
      </p>
        <a href="/search" class="btn btn-primary">Search Again?</a>
      </div>
    </div>
    <ul class="posts-box">
        <% data.forEach(function(item){ %>
            <li>
                <div class="card">
                        <img id="<%=item.item_id%>_image" src="<%=item.item_image %>" />
                        
                    <div>
                        <h3 id="<%=item.item_id%>_name"><%=item.item_name %></h3>
                        <p> description hidden for authenticated users</p>
                        <!-- <p id="<%=item.item_id%>_description"><%= item.item_description %></p> -->
                    </div>
                    <div>
                        <a class="button" onClick="triggerModel(this.id)" id="<%=item.item_id%>"> Click here if you have lost this item</a>
                    </div>
            </div>
        </li>
            <% }) %>
      <!-- JSON Here!
    </ul>
  
    <!-- Modal -->
    <script>
    function triggerModel(id){
      alert(id);
            var description = prompt("Please Describe The item you lost","");
            
            if(description=="" || description==null){
              
            }
            else{
              window.location.href = "/descriptionValu?query="+description +"&id="+id;
            }
            //  var query = document.getElementById("input").value;
            
            // console.log(query);
            // window.location.href = "/searchData?query="+query;
    }       
      </script>

  </body>
  
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</html>